# comments

comments are used to describe my code or to explain my code
- to enhance the readibilty of my code
- helps me in debugging

## types of comments
- single line comments
- multiline comments

# single line comments: using #

In [3]:
#this is the code for displaying the output : helo
print("helo")  # print function

helo

# multi line comments

In [4]:
# this is my first code
# this is my print function code
# print is used for displaying the output
print("heloz")

heloz

## using : three triple quotes

In [5]:
"""dslkdsjjkd
dsdksjjkdjk
dsjdajjkdjkd
djdkjjkdjkdjk
'"""
print("helozzzz")

helozzzz

 # variables : are the containers which is used to hold the data / values

name_of_variable=value

In [13]:
a=67# variable is defined  where a is the name and 9 is being assigned to it

## to get the address of the variable : id()

id(): inbuilt function

In [7]:
id(a)

2016328182320

## how to acces  the variable

In [8]:
a

9

In [10]:
b=a+7

In [11]:
b

16

In [12]:
id(b)

2016328182544

In [14]:
a

67

# identifiers : naming rules for defining the variable name

- begin with alphabets, or only one special  character is allowed  i.e underscore 
- other characters can be alphabets, digits and only one special  character   i.e underscore 
- it could be of any length
- case sensitive
- it should not be keywords

## rule 1 : begin with alphabets, or only one special character is allowed i.e underscore

In [16]:
balmeet=100

In [17]:
balmeet

100

In [18]:
_balmeet=90

In [19]:
_balmeet

90

In [20]:
123balmeet=90

SyntaxError: invalid syntax (2347106551.py, line 1)

## rule 2: other characters can be alphabets, digits and only one special character i.e underscore

In [21]:
balmeet_kaur=90

In [22]:
balmeet@kaur=9

SyntaxError: cannot assign to operator (2865344295.py, line 1)

In [23]:
balmeet12344=90

## rule 3: it could be of any length

In [25]:
cjhskhdjksdhksdhkjdskhdhdshdshdskdsdshsdk,,hnxjxj@hsdha123i93939_=90

SyntaxError: invalid syntax (1283520469.py, line 1)

## rule 4: case sensitive

In [27]:
madrid=100

In [28]:
Madrid=90

In [29]:
Madrid

90

In [30]:
madrid

100

 ## rule 5: it should not be keywords

## what are keywords : are the reserved words which has predefined meaning

In [32]:
import keyword

In [34]:
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [35]:
lambda =90

SyntaxError: invalid syntax (2426361330.py, line 1)

## data types : which defines the type of data

- numeric 
   - int
   - float
   - complex
- sequence
    - string
    - list
    - tuple
- boolean
   - bool
   - dictionary
   - set

## numeric :

int: integer data : without decimal

In [36]:
a=89
print(a)
print(type(a))

89
<class 'int'>

float : number with decimal

In [37]:
b=70.6865
print(b)
print(type(b))

70.6865
<class 'float'>

# complex :  real +imaginary

In [42]:

a=6+7j
print(a)
print(type(a))

(6+7j)
<class 'complex'>

## sequence :

- string : textual data

### how to create string
- using single quotes
- using double quote
- using three triple quotes

note: any thing in quotes is my string `

In [43]:
s='madrid'
print(s)
print(type(s))

madrid
<class 'str'>

In [44]:
s='madrid solutions'
print(s)
print(type(s))

madrid solutions
<class 'str'>

In [45]:
s='12333 madrid '
print(s)
print(type(s))

12333 madrid
<class 'str'>

In [46]:
s='234444'
print(s)
print(type(s))

234444
<class 'str'>

# using double  quotes

In [47]:
s='hi how 'r u'
s

SyntaxError: invalid syntax (2010771744.py, line 1)

In [49]:
s="hi how 'r u"
s

"hi how 'r u"

In [55]:
# using three triple quotes : for paragraph

In [1]:
s='''dkhsdkasdkdhahsda
sdhgsjghs
sKJSDHHDS
jhsHHJS
SHSH'''
print(s)
type(s)

dkhsdkasdkdhahsda
sdhgsjghs
sKJSDHHDS
jhsHHJS
SHSH

str

In [2]:
s1="jskhjsjkhsdjk"
print(s1)

type(s1)

jskhjsjkhsdjk

str

## list :  is used for storing the multiple elements of same or different type

## how to create the list

In [3]:
student=["2","tina",89.6,"ds"] ## hetro geneous
print(student)
print(type(student))

['2', 'tina', 89.6, 'ds']
<class 'list'>

# tuple : same as list

In [60]:
student=("2","tina",89.6,"ds") ## hetro geneous
print(student)
print(type(student))

TypeError: 'int' object is not callable

# Boolean : True or False

In [1]:
a = True
print (a)
print(type(a))

True
<class 'bool'>

In [2]:
a = False
print (a)
print(type(a))

False
<class 'bool'>

dict and set : skip

 #### Raj has 24 candies, simran has 34 candies, aditya has 21 candies . Candies would be equally distributed  How many candies need to be distributed to each of them and remaning candies need to given to diksha ?

In [21]:
raj =24
simran=34
aditya = 21
total=raj+simran+aditya
print("the total candies are ",total)
ec=total//3
print("the each will get ",ec)
d=total%3
print("diksha will get ",d)

the total candies are  79
the each will get  26
diksha will get  1